@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Fugaz+One&family=Josefin+Slab:wght@100;200;300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:wght@500&family=Poppins:wght@100;200;300;400;500&family=Rokkitt:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Fugaz+One&family=Josefin+Slab:wght@100;200;300;400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Open+Sans:wght@500&family=Poppins:wght@100;200;300;400;500&family=Rokkitt:wght@100;200;300;400;500&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab', serif;
    color: #000000;
    font-weight: 500;
}

body {
    background-color: #4d4d4d2c;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rokkitt', serif;
}

section {
    box-sizing: content-box;
    margin: 0 auto;
    margin-top: 80px;
    height: 100%;
    width: 100%;
}


/* CAMBIAR TEMA O COLORES PROFESOR */

.tema-color{
    z-index: 99;
    background-color: transparent;
    margin: 20px;
    margin-top: 80px;
    margin-bottom: 200px;
}

.cont-colores{
    width: 100px;
    padding: 20px 0;
    background: transparent;
    text-align: center;
    position: absolute;
    right: -130px;
    top: 140px;
    transition: 1s;
}

.cont-colores.active{
    right: -15px;
}

.open-panel{
    border-radius: 50px;
    color: white;
    transform: rotate(-90deg);
    position: relative;
    transition: 1s;
    border: none;
}


.cont-colores button{
    width: 30px;
    height: 30px;
    display: block;
    color: transparent;
    border-radius: 40px;
    margin: 10px auto;
    border: 3px solid black;
    transition: .5s;
}

.cont-colores button:hover{
    transform: translateX(5px);
    transition: .5s;
}

.cont-colores button:nth-child(1){
    background: #191c20;
}

.cont-colores button:nth-child(2){
    background: #eee;
}

.dropdown-menu {
    background-color: #191c2079;
    font-size: 15px;
}

.dropdown-item {
    color: #ffffff;
}

/* FIN DE CAMBIAR TEMA O COLORES PROFESOR */


.btn_medios {
    display: block;
    margin: 20px;
}

.botones {
    position: fixed;
    margin-left: 93%;
    width: 5%;
    border: none;
    z-index: 1000;
}

.titulos {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 200px;
}

#fondo {
    font-size: 120px;
    color: #a8a8a834;
}

#frente {
    font-size: 60px;
    color: #000000;
    position: absolute;
    line-height: 0;
    margin-top: 29px;
}

.info_per {
    margin-left: 130px;
    margin-top: -70px;
    width: 80%;
    padding-bottom: 50px;
    border-bottom: #292929 1px solid;
}

.info_per .txt {
    font-size: 22px;
    padding: 10px;
    margin-top: 20px;
    border: #191C20 1px solid;
}

.datos {
    margin-top: 40px;
    font-family: 'Josefin Slab', serif;
    font-size: 23px;
    font-weight: 600;
}

.datos h4 {
    font-size: 24px;
    color: #6B6B6B;
}

.btn_mi {
    text-align: center;
}

.btn_mi button{
    background-color: #FFB404;
    border: 2px solid #FFB404;
    border-radius: 50px;
    color: #000000;
    margin-top: 30px;
    margin-left: 125px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 90px;
}

.btn_mi button:hover{
    transform: scale(1.1);
    transition: 0.8s;
}


.perfil {
    margin-left: 130px;
    margin-top: 25px;
    text-align: left;
    align-items: center;
    width: 80%;
    border-bottom: #191C20 1px solid;
    font-size: 22px;
}

.perfil h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.perfil img {
    margin: 0 auto;
    height: 300px;
    margin-left: 50px;
}

.txt {
    border: #191C20 1px solid;
    padding: 5px 50px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp_laboral {
    margin-left: 130px;
    margin-top: 25px;
    text-align: left;
    align-items: center;
    width: 85%;
    border-bottom: #191C20 1px solid;
    font-size: 22px;
}

.exp_laboral h3 {
    margin-top: 30px;
    text-align: center;
}

.fecha {
    background: #4d4d4d78;
    border-radius: 5px;
    width: 11%;
}

.nombre_titulo {
    font-weight: 800;
    padding: 0;
    margin: 20px 0 10px 0;
}

.desc_titulo {
    padding: 0;
    margin: 5px 0 5px 0;
}

.item {
    margin-top: 40px;
}


.estudios {
    margin-left: 130px;
    margin-top: 25px;
    text-align: left;
    align-items: center;
    width: 85%;
    border-bottom: #191C20 1px solid;
    font-size: 22px;
}

.estudios h3 {
    margin-top: 30px;
    text-align: center;
}

.fecha_estudio {
    background: #4d4d4d78;
    border-radius: 5px;
    width: 11%;
}

.estudio {
    font-weight: 800;
    padding: 0;
    margin: 20px 0 10px 0;
}

.desc_estudio {
    padding: 0;
    margin: 5px 0 5px 0;
}

.item {
    margin-top: 40px;
}

.habilidades {
    margin-left: 130px;
    margin-top: 25px;
    text-align: center;
    align-items: center;
    width: 85%;
    font-size: 22px;
}

.habilidades h3 {
    margin-bottom: 50px;
    margin-top: 35px;
}

.habilidades h4 {
    margin-top: 35px;
    font-size: 30px;
}

footer {
    height: 160px;
    background-color: #4D4D4D;
    border-top: #000000 1px solid;
    border-bottom: #000000 1px solid;
    font-size: 18px;
}

.nombre {
    border-right: #ffffff 1px solid;
    height: 120px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.copy {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 50px;
    color: white;
    font-weight: 800;
}

.soporte {
    height: 160px;
    display: grid;
}

.soporte p {
    color: white;
    font-weight: 800;
}

.container_btns {
    padding: 0;
    margin-top: 35px;
}

.btn_footer {
    margin: 15px 30px 0 0;
    display: inline;
}


/* Resonsive smarthpone homee  */
@media screen and (max-width: 480px) {

    .botones {
        display: none;
    }

    .info-home {
        padding: 20px;
        text-align: center;
    }

    .info-home h1 {
        font-size: 35px;
        text-align: center;
    }

    .info-home h2 {
        font-size: 35px;
        margin-top: 3px;
        margin-left: -40px;
    }

    .info-home p {
        font-size: 20px;
        text-align: justify;
    }

    .info-home button {
        font-size: 14px;
        margin-top: 15px;
        height: auto;
        margin-bottom: 20px;
    }

}




/* Resonsive tabletas home  */
@media screen and (min-width: 481px) and (max-width: 1200px) {
    .botones {
        display: none;
    }
    
    .foto {
        height: 600px;
    }

    .info-home {
        padding: 20px 40px;
        text-align: center;
    }

    .info-home h1 {
        font-size: 45px;
        text-align: center;
    }

    .info-home h2 {
        font-size: 45px;
        margin-top: 3px;
        text-align: center;
    }

    .info-home p {
        font-size: 23px;
        text-align: justify;
    }
}


/* Resonsive tabletas home  */
@media screen and (min-width: 1201px){
    .navbar {
        display: none;
    }

}


/* Responsive smartphone sobremi */
@media screen and (max-width: 425px) {

    .botones {
        display: none;
    }

    .titulos {
        margin-top: 30px;
        width: 100%;
    }

    #fondo {
        font-size: 4em;
    }

    #frente {
        font-size: 2.3em;
        margin-top: 10px;
    }

    .info_per {
        margin-left: 25px;
        margin-top: -120px;
        padding: 15px;
        padding-bottom: 50px;
    }

    .info_per h3 {
        font-size: 20px;
    }

    .info_per .txt {
        font-size: 15px;
    }

    .info_per h4, p {
        font-size: 16px;
    }

    .btn_mi {
        margin-top: 15px;
    }

    .info_per button {
        margin: 0;
        font-size: 12px;
        padding: 15px;
    }

    .perfil {
        margin-left: 25px;
        padding: 15px;
        margin-top: -10px;
        padding-bottom: 10px;
    }

    .txt {
        padding: 10px;
    }
    
    .perfil img {
        margin-left: 0;
        margin-top: -20px;
        width: 100%;
    }

    .exp_laboral {
        margin-left: 25px;
        padding: 15px;
        font-size: 16px;
    }

    .exp_laboral h3{
        text-align: left;
        margin-top: -10px;
    }

    .exp_laboral img {
        display: none;
    }

    .fecha {
        width: 60px;
    }

    .estudios {
        margin-left: 25px;
        padding: 15px;
        font-size: 16px;
    }

    .estudios h3{
        text-align: left;
        margin-top: -10px;
    }

    .estudios img {
        display: none;
    }

    .fecha_estudio {
        width: 60px;
    }

    .habilidades {
        margin-left: 25px;
        padding: 15px;
        font-size: 16px;
    }

    .habilidades h3 {
        margin-top: 0px;
        margin-bottom: 15px;
        text-align: left;
    }

    .habilidades img {
        height: 180px;
        margin-top: 20px;
    }

    footer {
        font-size: 12px;
    }

    .nombre {
        font-size: 15px;
        padding: 15px;
    }

    .copy {
        display: none;
    }

    .soporte p{
        font-size: 13px;
        margin-left: 10px;
    }

    .container_btns {
        margin: 0;
        padding: 20px;
        margin-top: 20px;
    }

    .container_btns img{
        margin-right: 0;
    }
}




/* Responsive tablet sobremi */
@media screen and (min-width: 426px) and (max-width: 767px){
    
    .titulos {
        margin-top: 80px;
        width: 100%;
    }
    
    .botones {
        display: none;
    }

    #fondo {
        font-size: 5.4em;
    }

    .info_per {
        margin-left: 80px;
    }

    .info_per h3 {
        font-size: 2.1em;
    }

    .btn_mi {
        margin-top: 15px;
    }

    .info_per button {
        margin: 0;
        font-size: 1em;
        padding: 15px;
    }

    .perfil {
        padding-bottom: 10px;
    }

    .perfil h3 {
        font-size: 1.5em;
    }

    .txt {
        padding: 10px;
    }
    
    .perfil img {
        margin-left: 0;
        margin-top: 30px;
        width: 100%;
        margin-bottom: 20px;
    }

    .perfil, .exp_laboral, .estudios, .habilidades {
        margin-left: 60px;
    }

    .exp_laboral h3{
        text-align: left;
        margin-top: -10px;
        font-size: 1.5em;
    }

    .estudios h3 {
        text-align: left;
        margin-top: -10px;
        font-size: 1.6em;
    }

    .item {
        padding-left: 30px;
    }

    .fecha, .fecha_estudio {
        width: 70px;
    }

    .habilidades h3 {
        margin-top: 0px;
        margin-bottom: 15px;
        font-size: 1.6em;
    }

    .habilidades img {
        height: 210px;
        margin-top: 40px;
    }

    .copy {
        display: none;
    }

    .container_btns {
        margin-left: 0px;
        padding: 20px;
        margin-top: 5px;
    }

    .btn_footer {
        margin-left: 8px;
        margin-right: 8px;
    }

    .soporte p{
        font-size: 15px;
        margin-left: 40px;
        margin-bottom: 0;
    }
}


/* Responsive laptops sobremi */
@media screen and (min-width: 768px){

    .titulos {
        margin-top: 40px;
        margin-bottom: 10px;
        width: 100%;
    }

    .info_per button {
        margin: 0;
        margin-top: 15px;
        font-size: 1em;
        padding: 15px;
    }

    .perfil {
        padding-bottom: 40px;
    }

    .perfil img {
        margin-left: 0;
        margin-top: 30px;
        width: 100%;
        margin-bottom: 20px;
    }

    .estudios, .exp_laboral {
        margin-left: 90px;
    }

    .fecha, .fecha_estudio {
        width: 70px;
    }

    .habilidades {
        margin-left: 80px;
    }

    .habilidades img {
        margin-top: 45px;
    }

    .perfil h3 {
        font-size: 1.6em;
    }

    .info_per h3 {
        font-size: 2.3em;
    }
    
    .exp_laboral h3{
        margin-top: -10px;
        font-size: 1.7em;
    }

    .estudios h3 {
        margin-top: -10px;
        font-size: 1.8em;
    }
    
    .habilidades h3 {
        margin-top: 0px;
        margin-bottom: 15px;
        font-size: 1.9em;
    }

}


/* Resonsive smarthpone portafolio  */
@media screen and (max-width: 425px) {

    #fondo {
        font-size: 3em;
    }

    #frente {
        font-size: 1.8em;
    }

    .portafolio {
        margin-left: 5%;
        margin-top: -110px;
    }

    .linea1 {
        padding: 0;
        margin-top: -160px;
    }

    .linea2 {
        padding: 0;
        margin-top: 0;
    }

    .portafolio img {
        height: 170px;
        margin-top: 30px;
    }
}



/* Resonsive tablet portafolio  */
@media screen and (min-width: 426px) and (max-width: 767px){

    .titulos {
        margin-top: 70px;
    }

    #fondo {
        font-size: 4.6em;
    }

    #frente {
        font-size: 2.9em;
        margin-top: 15px;
    }

    .portafolio {
        margin-left: 5%;
        margin-top: -110px;
    }

    .linea1 {
        padding: 0;
        margin-top: -130px;
    }

    .linea2 {
        padding: 0;
        padding-bottom: 60px;
        margin-top: 0;
    }

    .portafolio img {
        height: 260px;
        margin-top: 60px;
    }
}


/* Resonsive laptop portafolio  */
@media screen and (min-width: 768px) and (max-width: 1200px){

    .titulos {
        margin-top: 70px;
    }

    #fondo {
        font-size: 4.6em;
    }

    #frente {
        font-size: 2.9em;
        margin-top: 15px;
    }

    .portafolio {
        margin-left: 5%;
        margin-top: -110px;
    }

    .linea1 {
        padding: 0;
        margin-top: -130px;
    }

    .linea2 {
        padding: 0;
        padding-bottom: 60px;
        margin-top: 0;
    }

    .portafolio img {
        height: 190px;
        margin-top: 40px;
    }
}

/* Resonsive laptop2 portafolio  */
@media screen and (min-width: 1201px){

    .portafolio {
        margin-left: 5%;
        margin-top: 140px;
    }

    .portafolio img {
        margin-top: 40px;
        height: 230px;
    }

    .linea1 {
        padding: 0;
        margin-top: -130px;
    }

    .linea2 {
        padding: 0;
        padding-bottom: 60px;
        margin-top: 0;
    }
}


/* Responsive smartphone contacto */
@media screen and (max-width: 425px) {
    
    .contacto {
        margin-left: 10%;
        margin-top: -100px;
    }

    .contacto p {
        text-align: left;
        font-size: 0.7em;
    }

    .contacto h4 {
        font-size: 0.9em;
    }

    .filas_info {
        margin-top: 10px;
    }

    .filas_info img{
        height: 35px;
        margin-top: 8px;
    }

    .redes img{
        height: 40px;
        margin-left: 0;
        margin-right: 10%;
    }

    .nombre_form {
        height: 30px;
    }

    .correo {
        margin-top: 15px;
        height: 30px;
        width: 90%;
    }

    .mensaje {
        margin-top: 15px;
        height: 80px;
        border-radius: 15px;
        width: 90%;
    }

    form input {
        font-size: 12px;
    }

    form button {
        margin-top: 25px;
        padding: 10px 15px;
        font-size: 15px;
    }
}



/* Responsive tablets contacto */
@media screen and (min-width: 426px) and (max-width: 1023px){
    
    .contacto {
        margin-left: 10%;
        margin-top: -100px;
    }

    .contacto p {
        text-align: left;
        font-size: 0.8em;
    }

    .contacto h4 {
        font-size: 1em;
    }

    .filas_info {
        margin-top: 10px;
    }

    .filas_info img{
        height: 40px;
        margin-top: 8px;
    }

    .redes img{
        height: 50px;
        margin-left: 0;
        margin-right: 15%;
    }

    .nombre_form {
        height: 30px;
    }

    .correo {
        margin-top: 15px;
        height: 30px;
        width: 90%;
    }

    .mensaje {
        margin-top: 15px;
        height: 80px;
        border-radius: 15px;
        width: 90%;
    }

    form input {
        font-size: 14px;
    }

    form button {
        margin-top: 25px;
        padding: 10px 15px;
        font-size: 17px;
        margin-bottom: 30px;
    }
}


/* Responsive laptops contacto */
@media screen and (min-width: 1023px){
    
    .contacto {
        margin-top: -40px;
    }

}